.movie-card-image {
  width: 100%;
  max-width: 230px;
  height: 280px;
  align-self: center;
}

.movie-title {
  font-size: 16px;
  font-weight: 600;
  font-family: 'Roboto';
  color: #106ab4;
}

.movie-rating {
  font-size: 14px;
  font-weight: 500;
  font-family: 'Roboto';
  color: #0b4b2a;
}
